.HANDWASH .column{
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
               }

.HANDWASH  .column .main-image img{
                                                                  width: 43vh;
                                          }

.HANDWASH  .column .box-container{
                                    display:flex;
                                     align-items: center;
                                      justify-content: center;
                                      flex-wrap: wrap
}

.HANDWASH .column .box-container .box{
                                                                   margin:1rem;
                                                                    text-align: center;
                                                             }

.HANDWASH  .column .box-container .box img{
       width:20rem;
         padding: 1rem;
}

.HANDWASH  .column .box-container .box  h3{
       font-size:1rem;
        color: var(--blue);
}