.prevent .box-container{
                                               display: flex;
                                                algn:items: center;
                                                justify-content: center;
                                                flex-wrap: wrap;
}

.prevent  .box-container  .box{
                                                      flex:1  1 30rem;
                                                      border-radius:  .5rem;
                                                        magin: 1rem;
                                                        padding: 1rem;
                                                           text-align: center;
                                                     }

.prevent .box-container  .box img{
                                                                  height: 12rem;
                                                                  padding: 1rem;
                                   }

.prevent  .box-container  .box h3{
                                            color: var(--blue);
                                           font-size: 2rem;
                                }

.prevent  .box-container  .box p{
                                            color: var(--dark-blue);
                                           font-size: 1.4rem;
                                           padding: 1rem;
                                }

.prevent  .box-container  .box:hover{
                                                            box-shadow: 0 .5rem 1rem rgba(0,0,0, .1);
                                           }
 
